<h2>统一任务调度平台&nbsp;&nbsp;&nbsp;&nbsp;<small>Legends</small></h2>



<p style="margin-top: 50px" >
	请尽量不要将任务安排在 <strong>13点 - 15点</strong>, 如果 legends 有新的版本发布,我们将会固定在此段时间内进行升级.
	
	<h2><small>为了维护世界和平安定,为了程序员的健康发展,请使用</small>Chrome</h2>
	<h4><small>因为我的懒惰,并未做兼容性测试,其他浏览器有可能出现奇奇怪怪的事情,尤其是 IE </small></h4>
</p>


<table class="table table-bordered" style="margin-top: 30px">
    <thead>
		<tr>
			<th>
				版本
			</th>
			<th>
				主要功能
			</th>
			<th>
				开发
			</th>
            <th>
                时间
            </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				v1.8
			</td>
			<td>
				新增动态创建一次性任务，获取任务结果等Dubbo接口；
				新增任务异常时向负责人手机号发送报警短信功能；
			</td>
			<td>
				阳明
			</td>
			<td>
				15年11月
			</td>
		</tr>
		<tr>
			<td>
				v1.7
			</td>
			<td>
				利用数据库悲观锁支持集群，代价是任务触发间隔不能小于1分钟，同时重构大量代码。
			</td>
			<td>
				阳明
			</td>
			<td>
				15年11月
			</td>
		</tr>
		<tr>
			<td>
				v1.6
			</td>
			<td>
				新增临时执行任务功能。
			</td>
			<td>
				阳明
			</td>
			<td>
				15年9月
			</td>
		</tr>
		<tr>
			<td>
				v1.5
			</td>
			<td>
				新增抽象JOB，支持JOB中断
			</td>
			<td>
				三丰
			</td>
			<td>
				15年8月
			</td>
		</tr>
		<tr>
			<td>
				v1.4
			</td>
			<td>
				获取任务结果使用单线程poll轮训方式，防止执行中的任务过多，阻塞核心线程池。
			</td>
			<td>
				阳明
			</td>
			<td>
				15年7月
			</td>
		</tr>
        <tr>
            <td>
                v1.3
            </td>
            <td>
                接入SSO
            </td>
            <td>
                阳明
            </td>
            <td>
                15年4月
            </td>
        </tr>
		<tr>
			<td>
				v1.2
			</td>
			<td>
				支持任务传递String参数
			</td>
			<td>
				阳明
			</td>
			<td>
				14年7月
			</td>
		</tr>
		<tr>
			<td>
				v1.1
			</td>
			<td>
				支持测试远程任务是否可执行
			</td>
			<td>
				阳明、聂风
			</td>
			<td>
				14年3月
			</td>
		</tr>
		<tr>
			<td>
				v1.0
			</td>
			<td>
				第一个版本，满足基本功能，支持增删改查任务，支持远程任务调用执行等等。
			</td>
			<td>
				阳明、聂风
			</td>
			<td>
				14年3月
			</td>
		</tr>
	</tbody>
</table>